@font-face {
    font-family: 'GraphikRegular';
    src: url('../assets/fonts/Graphik-Font-Family/GraphikMedium.otf') format('opentype');
}



/* CSS Reset */
*{
    font-family: "GraphikRegular","sans-serif";
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
